/*------------------ Button's* ------------------*/
.button-attributes {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-radius: 20px;
}

.button-square {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;

}

.button-rectangle {
    -fx-pref-width: 100px;
    -fx-pref-height: 150px;
}

.button-outside {
    -fx-background-color: rgba(125, 60, 152, 0.3);
}

.button-outside:hover {
    -fx-background-color: rgba(231, 76, 60, 0.4);
    -fx-text-fill: rgba(231, 76, 60, 1);
}

.button-inside {
    -fx-background-color: rgba(231, 76, 60, 0.4);
}

.button-inside:hover {
    -fx-background-color: rgba(125, 60, 152, 0.3);
    -fx-text-fill: rgba(125, 60, 152, 1);
}

.button-middle {
    -fx-background-color: rgba(231, 76, 60, 0.4);
}

.button-middle:hover {
    -fx-background-color: rgba(245, 176, 65, 0.5);
}

/*------------------ Label's* ------------------*/
.label-up {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-alignment: CENTER-RIGHT;
    -fx-pref-width: 326px;
    -fx-padding: 0px 5px 0px 0px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.label-down {
    -fx-background-color: rgba(250, 219, 216, 1);
    -fx-font-size: 30px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-alignment: CENTER-RIGHT;
    -fx-pref-width: 326px;
    -fx-padding: 0px 5px 0px 0px
}

/*------------------ VBox's* ------------------*/
.vBox {
    -fx-pref-width: 80px;
    -fx-spacing: 9px;
}

/*------------------ HBox's* ------------------*/


/*------------------ AnchorPane's* ------------------*/
.anchor-pane {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: rgba(214, 234, 248, 0.9);
}

.anchor-pane-fieldT {
    -fx-background-color: rgba(250, 219, 216, 1);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-pref-width: 350px;
}